@using K9.Base.WebApplication.Config
<div class="footer main-section">
	<div class="container">
		<div class="agile-footer-grids">
			<div class="col-md-4 agile-footer-grid">
				<h4>@WebsiteConfiguration.Instance.CompanyName</h4>
				<p>
					@K9.Globalisation.Dictionary.CompanyBlurbFooter
				</p>
			</div>
			<div class="col-md-4 agile-footer-grid">
			    @Html.Action("NewsSummary", "News")
			</div>
			<div class="col-md-4 agile-footer-grid">
				<h4>Navigation</h4>
			    <ul>
                    <li class="text"><a href="@Url.Action("Index", "Home")"> @Dictionary.Home</a></li>
			        <li class="text"><a href="@Url.Action("Index", "Vision")"> @K9.Globalisation.Dictionary.Vision</a></li>
			        <li class="text"><a href="@Url.Action("Index", "News")"> @K9.Globalisation.Dictionary.News</a></li>
			        <li class="text"><a href="@Url.Action("Team", "AboutUs")"> @Dictionary.OurTeam</a></li>
			        <li class="text"><a href="@Url.Action("Index", "Archive")"> @K9.Globalisation.Dictionary.MediaTheque</a></li>
			        <li class="text"><a href="@Url.Action("Index", "Shop")"> @K9.Globalisation.Dictionary.Shop</a></li>
			        <li class="text"><a href="@Url.Action("Index", "Support")"> @Dictionary.SupportUs</a></li>
			    </ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		<p>@K9.Globalisation.Dictionary.CompanyLegalDescription @Dictionary.AgreeToTerms &copy; @DateTime.Now.Year - @WebsiteConfiguration.Instance.CompanyName. @Dictionary.AllRightsReserved.</p>
	</div>
</div>