<div class="main-section">
    <div class="container scrollFadeIn">
        <div class="main-heading">
            <h3>@K9.Globalisation.Dictionary.Projects</h3>
        </div>
        <div class="container">
            <div>
                <div class="col-md-12">
                    <div>
                        <h4 class="text-black">@K9.Globalisation.Dictionary.etats_des_lieux_iboga_title</h4>
                    </div>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.etats_des_lieux_iboga)
                </div>
                <div class="col-md-12">
                    <div>
                        <h4 class="text-black">@K9.Globalisation.Dictionary.etats_des_lieux_forest_title</h4>
                    </div>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.etats_des_lieux_forest)
                </div>
            </div>
        </div>
    </div>
</div>