@using System.Web.Mvc.Html
@using K9.Base.DataAccessLayer.Enums
@using K9.Base.WebApplication.ViewModels
@using K9.WebApplication.Helpers
@model List<NewsItem>
@{
    ViewBag.Title = Dictionary.Home;
    var index = 0;
}

@Html.Partial("_SponsorIbogaBanner")
<div id="main-banner" class="banner-default main-menu">
    @Html.Partial("_Navbar")
</div>

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@K9.Globalisation.Dictionary.Actions</h3>
            <div class="text-center margin-top-30">
                @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.SignUpToNewsLetter, "SignUpToNewsLetter", "Contacts", null, "fa-envelope", EButtonClass.Large)
            </div>
        </div>
    </div>
    @Html.Partial("_News")
</div>