@using K9.Base.WebApplication.ViewModels
@model ArchiveItem

<div class="archive-content-item scrollFadeUp">
    <div class="news-item-title">
        <p><strong>@Dictionary.PublishedOnLabel</strong>: @Model.PublishedOn.ToLongDateString()</p>
        <p><strong>@Dictionary.PublishedByLabel</strong>: @Model.PublishedBy</p>
    </div>
    <h5>
        @MvcHtmlString.Create(Model.Title.ToUpper())
    </h5>
    <article>
        <p>
            @MvcHtmlString.Create(Model.DescriptionText)
        </p>
    </article>
    <div>
        @if (!string.IsNullOrEmpty(Model.Url))
        {
            if (Model.ArchiveCategory.Name == Dictionary.Links)
            {
                @Html.Partial("_LinkDisplay", new LinkViewModel
                {
                    Url = Model.Url
                })
            }
            else if (Model.ArchiveCategory.Name == Dictionary.Videos)
            {
                @Html.Partial("_VideoDisplay", new VideoViewModel
                {
                    Name = Model.Name,
                    Url = Model.Url
                })
            }
        }
        else
        {
            @Html.Partial("_UploadedFilesDisplay", new FileSourceViewModel(Model.FileSource))
        }
    </div>
    <hr />
</div>