@using K9.Base.WebApplication.Config
@using K9.Base.WebApplication.Helpers
@{
    ViewBag.Title = Dictionary.Home;
}
<div id="main-banner" class="banner-default main-menu">
    @Html.Partial("_Navbar")
</div>
@Html.Partial("_Botf")
@Html.Partial("_Mission")
@Html.Partial("_Context")
@Html.Partial("_Partners")
@Html.Partial("_Contact")