@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.MembershipModel
@{
    var isSelected = Model.ActiveSubscriptionId == Model.MembershipOption.Id;
}

<div class="shadow-light shadow-hover membership-option-container @Model.MembershipSelectedCssClass">
    <div class="membership-option-title">
        <h5><strong>@Model.MembershipOption.SubscriptionTypeNameLocal</strong></h5>
    </div>
    <div class="membership-option">
        @Html.Partial("_MembershipMedal", Model.MembershipOption)
        <div>
            @if (isSelected)
            {
                @Html.Partial("_Selected")
            }
            else
            {
                var buttonText = Model.ActiveSubscriptionId > 0 ? K9.Globalisation.Dictionary.Switch : K9.Globalisation.Dictionary.Select;
                @Html.BootstrapActionLinkButton(buttonText, "PurchaseStart", "Membership", new { id = Model.MembershipOption.Id })
            }
        </div>
    </div>
</div>