@using System.Web.Mvc.Html
@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.MembershipViewModel

@{
    ViewBag.Title = K9.Globalisation.Dictionary.MembershipLabel;
}

@Html.Partial("_SponsorIbogaBanner")
<div id="main-banner" class="banner-default main-menu">
    @Html.Partial("_Navbar")
</div>

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@K9.Globalisation.Dictionary.MembershipLabel</h3>
            <br />
            <h4 class="text-black">@K9.Globalisation.Dictionary.BecomeBenefactorTitle</h4>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            @foreach (var membershipModel in Model.Memberships)
            {
                <div class="col-md-3 col-sm-12">
                    @Html.Partial("_MembershipOption", membershipModel)
                </div>
            }
        </div>
        <div class="col-md-12 col-sm-12">
            <div style="height: 20px;">&nbsp;</div>
            @Html.Separator()
        </div>
        <div class="col-md-6 col-sm-12">
            <div style="height: 7px;">&nbsp;</div>
            <div class="membership-description">
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.standard_membership_description)
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div style="height: 7px;">&nbsp;</div>
            <div class="membership-description">
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.platinum_membership_description)
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div style="height: 7px;">&nbsp;</div>
            <div class="membership-description">
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.membership_additional_information)
            </div>
        </div>
    </div>
</div>